@font-face {
	font-family: "Jost";
	src: url("fonts/Jost-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

:root{
    --fondo-texto: #B9D1EA;
    --titulo-web: #BF2C2B;
    --githuburl: #364F6A;
}

body{margin: 0px;
    text-align: center;
    font-family: 'Jost',sans-serif;
}
a{
    text-decoration: none !important;
    color: darkblue;
}
#contenedor{
    width: 100%;
    max-width: 1250px;
    display: inline-block;
}

.nav-menu {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 15px;
}

.nav-menu div {
    color: gray;
    padding: 5px;
}

@media (max-width: 300px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }
}

.seccion {
    color: black;
    padding: 5px 0px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #FCD22D;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    font-size: 20px;
}

.seleccionado {
    font-weight: bold;
    color: black !important;
}

.nav-menu div:hover {
    text-decoration: underline;
}

.resultado{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    max-width: 400px;
    margin: 8px;
}
.titulo{
    font-family: 'Jost';
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--titulo-web);
    max-width: 300px;
    display: inline-table;
    padding: 15px;
    font-weight: bold;
}
.res{
    border-radius: 10px;
    border-collapse: collapse;
    border: solid red 1px;
    display: block;
}
.description{
    text-align: left;
}

.desc{
    font-size: 14px;
}

.linkedin{
    position: absolute;
    background-color: #0967c2;
    border-radius: 8px;
    width: 25px;
    border: solid 2px white;
}
#header{
    background-color: #024997;
}
#header-mailing {
    background-color: #388328;
}

#header-videogame {
    background-color:black;
}

#header-design {
    background-color:#d43c0a;
}

.github{
    background-color: var(--githuburl);
    font-weight: bold;
    font-family: 'Jost',sans-serif;
    font-size: 12px;
    padding: 10px;
    max-width: 300px;
    display: inline-block;
    margin: 5px 0px;
    color: white;
    border-radius: 6px;
}

.download {
    border: solid #bf2c2b 2px;
    padding: 15px;
    border-radius: 30px;
    position: relative;
    margin-top: 23px;
    font-weight: bold;
    color: #bf2c2b;
    font-size: 12px;
}