.html
{
	background: #FFFFFF url("../images/fondo.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1867px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u420
{
	z-index: 139;
	width: 1159px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	left: -100px;
}

#u270
{
	z-index: 15;
	width: 517px;
	margin-left: 221px;
	margin-top: 29px;
	position: relative;
}

#u298-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 221px;
	margin-top: 32px;
	position: relative;
}

#pu265
{
	width: 0.01px;
	margin-left: 221px;
	margin-top: 6px;
	position: relative;
}

#u265
{
	z-index: 13;
	width: 492px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 13px;
}

#u324-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pppu362
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 37px;
	position: relative;
}

#pu362
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu353
{
	width: 0.01px;
	padding-bottom: 17.550000000000296px;
	position: relative;
	left: 22px;
	padding-top: 23px;
	z-index: 2;
}

#u353
{
	z-index: 25;
	width: 392px;
	position: relative;
}

#u366-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 16px;
	position: relative;
}

#u363-6
{
	z-index: 3;
	width: 398px;
	min-height: 76px;
	color: #FFFFFF;
	margin-top: 8px;
	position: relative;
}

#u370-6
{
	z-index: 42;
	width: 392px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u367
{
	z-index: 140;
	width: 439px;
	height: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u367:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 460px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pu359
{
	z-index: 27;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu347
{
	width: 0.01px;
	padding-bottom: 24.05000000000041px;
	position: relative;
	left: 25px;
	padding-top: 23px;
	z-index: 2;
}

#u347
{
	z-index: 32;
	width: 392px;
	position: relative;
}

#u358-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#u360-4
{
	z-index: 28;
	width: 353px;
	min-height: 76px;
	color: #FFFFFF;
	margin-left: 19px;
	margin-top: 18px;
	position: relative;
}

#u369-4
{
	z-index: 38;
	width: 353px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 19px;
	margin-top: 4px;
	position: relative;
}

#u361
{
	z-index: 145;
	width: 439px;
	height: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u367.MuseLinkActive,#u361:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 460px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pppu379
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 37px;
	position: relative;
}

#ppu362,#ppu379
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#pu379
{
	z-index: 67;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu327
{
	width: 0.01px;
	padding-bottom: 28.55000000000041px;
	position: relative;
	left: 22px;
	padding-top: 21px;
	z-index: 2;
}

#u327
{
	z-index: 84;
	width: 392px;
	position: relative;
}

#u381-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 18px;
	position: relative;
}

#u380-6
{
	z-index: 68;
	width: 398px;
	min-height: 76px;
	color: #FFFFFF;
	margin-top: 8px;
	position: relative;
}

#u385-6
{
	z-index: 78;
	width: 392px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 1px;
	margin-top: 38px;
	position: relative;
}

#u384
{
	z-index: 141;
	width: 439px;
	height: 497px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u384:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 497px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pu371
{
	z-index: 48;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu342
{
	width: 0.01px;
	padding-bottom: 17.050000000000182px;
	position: relative;
	left: 24px;
	padding-top: 26px;
	z-index: 2;
}

#u342
{
	z-index: 65;
	width: 392px;
	position: relative;
}

#u375-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 14px;
	position: relative;
}

#u372-4
{
	z-index: 49;
	width: 377px;
	min-height: 76px;
	color: #FFFFFF;
	margin-left: 14px;
	margin-top: 1px;
	position: relative;
}

#u377-8
{
	z-index: 57;
	width: 375px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 16px;
	margin-top: 8px;
	position: relative;
}

#u376
{
	z-index: 142;
	width: 439px;
	height: 497px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u384.MuseLinkActive,#u376:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 497px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u376.MuseLinkActive
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 497px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pppu408
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 17px;
	position: relative;
}

#ppu408
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#pu408
{
	z-index: 110;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u403
{
	z-index: 136;
	width: 392px;
	margin-left: 1px;
	position: relative;
}

#u410-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 19px;
	position: relative;
}

#u409-10
{
	z-index: 111;
	width: 398px;
	min-height: 76px;
	color: #FFFFFF;
	margin-top: 8px;
	position: relative;
}

#u411-8
{
	z-index: 125;
	width: 392px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u415
{
	z-index: 144;
	width: 439px;
	height: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u361.MuseLinkActive,#u415:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 460px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pu387
{
	z-index: 86;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u362,#u359,#u379,#u371,#u408,#u387
{
	z-index: 0;
	width: 440px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu403,#pu332
{
	width: 0.01px;
	padding-bottom: 12.55000000000041px;
	position: relative;
	left: 22px;
	padding-top: 21px;
	z-index: 2;
}

#u332
{
	z-index: 105;
	width: 392px;
	position: relative;
}

#u353_img,#u347_img,#u327_img,#u342_img,#u332_img
{
	padding-right: 1px;
}

#u389-4
{
	z-index: 93;
	display: block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 18px;
	position: relative;
}

#u388-6
{
	z-index: 87;
	width: 398px;
	min-height: 76px;
	color: #FFFFFF;
	margin-top: 8px;
	position: relative;
}

#u390-8
{
	z-index: 97;
	width: 392px;
	min-height: 37px;
	color: #FFFFFF;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u393
{
	z-index: 143;
	width: 439px;
	height: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u415.MuseLinkActive,#u393:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 460px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u393.MuseLinkActive
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 439px;
	height: 460px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#pu396-3
{
	width: 0.01px;
	margin-left: 238px;
	margin-top: 1px;
	position: relative;
}

#u396-3
{
	z-index: 107;
	width: 5px;
	position: relative;
	margin-right: -10000px;
}

#u414-3
{
	z-index: 133;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u419
{
	z-index: 138;
	width: 1159px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	left: -100px;
	margin-top: 41px;
}

#page .verticalspacer
{
	clear: both;
}

